[
 
 {:model/name "test-strip"
  :model/type :model.type/strip
  :model/count 48
  :model.strip/density 60
  :model.leaf/address {:channel 0 :order-key 0}}
 
 {:model/name "right-sleeve"
  :model/type :model.type/cylinder
  :model/children
   [{:model/type :model.type/strip
     :model/count 16
     :model.leaf/address {:channel 0 :order-key 0}}
    {:model/type :model.type/strip
     :model/count 15
     :model.leaf/address {:channel 0 :order-key 1}}
    {:model/type :model.type/strip
     :model/count 14
     :model.leaf/address {:channel 0 :order-key 2}}
    {:model/type :model.type/strip
     :model/count 12
     :model.leaf/address {:channel 1 :order-key 0}}
    {:model/type :model.type/strip
     :model/count 11
     :model.leaf/address {:channel 1 :order-key 1}}
    {:model/type :model.type/strip
     :model/count 10
   :model.leaf/address {:channel 1 :order-key 2}}
    {:model/type :model.type/strip
     :model/count 10
     :model.leaf/address {:channel 1 :order-key 3}}]}

 {:model/name "yurt"
  :model/type :model.type/named-composite
  :model/children
    [{:model/type :model.type/strip
      :model/count 36
      :model.leaf/address {:channel 0 :order-key 0}}
     {:model/type :model.type/strip
      :model/count 36
      :model.leaf/address {:channel 0 :order-key 1}}
     {:model/type :model.type/strip
      :model/count 36
      :model.leaf/address {:channel 0 :order-key 2}}
     {:model/type :model.type/strip
      :model/count 36
      :model.leaf/address {:channel 0 :order-key 3}}
     {:model/type :model.type/strip
      :model/count 36
      :model.leaf/address {:channel 0 :order-key 4}}
     {:model/type :model.type/strip
      :model/count 36
      :model.leaf/address {:channel 0 :order-key 5}}]}

 {:model/name "night-costume"
  :model/type :model.type/named-composite
  :model/children
   {:night-costume/left-sleeve
     {:model/type :model.type/cylinder
      :model/children
       [{:model/type :model.type/strip
         :model/count 16
         :model.leaf/address {:channel 0 :order-key 0}}
        {:model/type :model.type/strip
         :model/count 15
         :model.leaf/address {:channel 0 :order-key 1}}
        {:model/type :model.type/strip
         :model/count 14
         :model.leaf/address {:channel 0 :order-key 2}}
        {:model/type :model.type/strip
         :model/count 12
         :model.leaf/address {:channel 1 :order-key 0}}
        {:model/type :model.type/strip
         :model/count 11
         :model.leaf/address {:channel 1 :order-key 1}}
        {:model/type :model.type/strip
         :model/count 10
       :model.leaf/address {:channel 1 :order-key 2}}
        {:model/type :model.type/strip
         :model/count 10
         :model.leaf/address {:channel 1 :order-key 3}}]}
    :night-costume/right-sleeve
     {:model/type :model.type/cylinder
      :model/children
       [{:model/type :model.type/strip
         :model/count 16
         :model.leaf/address {:channel 0 :order-key 0}}
        {:model/type :model.type/strip
         :model/count 15
         :model.leaf/address {:channel 0 :order-key 1}}
        {:model/type :model.type/strip
         :model/count 14
         :model.leaf/address {:channel 0 :order-key 2}}
        {:model/type :model.type/strip
         :model/count 12
         :model.leaf/address {:channel 1 :order-key 0}}
        {:model/type :model.type/strip
         :model/count 11
         :model.leaf/address {:channel 1 :order-key 1}}
        {:model/type :model.type/strip
         :model/count 10
       :model.leaf/address {:channel 1 :order-key 2}}
        {:model/type :model.type/strip
         :model/count 10
         :model.leaf/address {:channel 1 :order-key 3}}]}}}

 {:model/name "test-cylinder"
  :model/type :model.type/cylinder
  :model/children
   [{:model/type :model.type/ring
     :model.ring/radius 10 ; placeholders
     :model/count 6}
    {:model/type :model.type/ring
     :model.ring/radius 10
     :model/count 6}]}
 
 {:model/name "test-installation"
  :model/children
   {:test-installation/sleeve
     {:model/type :model.type/cylinder
      :model/children
       [{:model/type :model.type/ring
         :model.ring/radius 10 ; placeholders
         :model/count 3}
        {:model/type :model.type/ring
         :model.ring/radius 10
         :model/count 3}
        {:model/type :model.type/ring
         :model.ring/radius 10 ;placeholder
         :model/count 3}
        {:model/type :model.type/ring
         :model.ring/radius 10 ;placeholder
         :model/count 3}
        {:model/type :model.type/ring
         :model.ring/radius 10 ;placeholder
         :model/count 3}]}
    :test-installation/forehead-ring
     {:model/type :model.type/ring
      :model.ring/radius 3
      :model/count 6}}}

]